
<div class="row">
    <div class="col-9 no-right-padding">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% @tracked_stocks.each do |stock| %>
                    <tr>
                        <th><%= stock.ticker %></th>
                        <th><%= stock.name %></th>
                        <th><%= stock.last_price %></th>
                        <th><%= link_to "Remove", user_stock_path(stock), method: :delete, data: { confirm: "Are you sure to remove this stock" }, class: "btn btn-sm btn-warning" %></th>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
