<h2>User Details</h2>

<div class="card card-header results-block">
    <table class="col-md-12">
        <tbody>
                <tr>
                    <td><strong>First name: </strong><%= @user.first_name %></td>
                    <td><strong>Last name: </strong><%= @user.last_name %></td>
                    <% if current_user.not_friends_with?(@user.id) %>
                    <td><%= link_to "Follow?", friendships_path(user: current_user, friend_id: @user.id), class: "btn btn-sm btn-success", method: :post %></td>
                    <% else %>
                        <td><span class="badge badge-secondary">
                            You are friends
                        </td></span>
                    <% end %>
                </tr>
        </tbody>
    </table>
 </div>

<% if !@tracked_stocks.empty? %>
    <%= render "stocks/list" %>
<% else %>
    <p class="lead">This user is not tracking any stocks</p>
<% end %>